/* end nav css */
.body {
  margin: 0px;
}

/* start nav css */
.nav-bar {
  background-color: rgb(250, 247, 247);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
}

.list-items {
  display: flex;
  list-style: none;
  gap: 25px;
}

.item .link {
  color: black;
  text-decoration: none;
}

.home {
  background-color: blueviolet;
  height: 350px;
}
.about-us {
  background-color: red;
  height: 350px;
  margin-top: 50px;
}



/* start home css */
.home-container {
  background-color: antiquewhite;
  margin: 25px;
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* css left start */
.left {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 85%;
}

.image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 15px;
}
/* css left end */


.right {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

.description {
  font-size: 23px;
  line-height: 25px;
}

.button {
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 195, 255);
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}

/* end home css */


/* start contact us css */
.contact-us {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  /* background-color: green; */
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.form{
  border: 1px solid gray;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
}

.names,
.contact{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 10px;
}

.first-name,
.last-name,
.phone,
.email{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.first-name-input,
.last-name-input,
.email-input,
.phone-input{
  height: 40px;
  width: 90%;
  border-radius: 10px;
  padding-left: 10px;
}

.message{
  width: 90%;
}

.text-area{
  width: 100% !important;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 20px;
}

.form-button{
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  background-color: rgb(0, 195, 255);
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  margin-left: 20px;
  height: 35px;
  width: 100px;
}

/* end contact us css */
